{% extends "WBBase.html" %}
{% block header %}
{% endblock %}
{% block content %}
<br />
<br />
<br />
<h1>Shoebox </h1>
<h2> Jeff Hsu   </h2>
<div id='blog-posts'>
{% for post in posts %}
<h2>{{ post.title }}</h2>
<p id="data">{{ post.created}}</p>
<p id="post_text">{{ post.text|safe }}</p>
{% endfor %}
</div>


{% endblock %}
