<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} WebLab {% endblock %}</title>
<style type="text/css">
  h1 {
    font-family: sans-serif;
  }
  
  .chart text.title {
    font: 80px sans-serif;
    color: black;
    fill: black;
    }

    .chart rect{
      stroke: white;
      fill: steelblue;

  }
  </style>
</head>
<body>
<h1>Jeffrey Hsu</h1>
<img src="{{ STATIC_URL }}images/stargazer.jpg" />
<p> Stargazer 3000 BC - Western Anatolia <br />
Cleveland Museum of Art 
</p>
<h2> Projects: </h2>
<a href="https://github.com/jeffhsu3"><img src="{{ STATIC_URL }}images/pypava.png" /></a>
<a href="/eQTL/search/"><img src="{{ STATIC_URL }}images/eQTL.png" /></a>
<a href="/weblab/">Weblab </a>
<h2> Publications: </h2>
<h2> Personal: </h2>
</body>

</html>


