{% extends 'eQTLBase.html' %}

{% block header %}

  <link rel="stylesheet" 
  href="{{STATIC_URL}}styles/tablesorter/blue/style.css" media="all" />
  
  <script type="text/javascript" src="{{STATIC_URL}}/js/jquery.tablesorter.js"></script>

  <script>
    jQuery(document).ready(function() {
      $('#resulttable').tablesorter();
    });
  </script>
  
  {% endblock %}

{% block content %}
<h2>Search</h2>
<form method="get" action=".">
    <table>
        {{ form.as_table }}
        <tr>
            <td>&nbsp; </td>
            <td>
                <input type="submit" value="Search">
            </td>
        </tr>
    </table>

    {% if query %}
        <h3>Results</h3>
        <table id="resulttable" class="tablesorter">
          <thead>
            <tr>
              <th>Gene</th>
              <th>Assay_ID</th>
              <th>Marker</th>
              <th>Chromosome</th>
              <th>Position</th>
              <th>Type</th>
              <th>LOD</th>
              <th>Gender</th>
              <th>Tissue</th>
              </tr>
            </thead>
          </tr>
          </thead>
          <tbody> 
        {% for result in page.object_list %}
            <tr>
              <td>
                <a href="{{ result.object.get_absolue_url }}">{{result.object.gene}}</a>
              </td>
              <td> <a href="/eQTL/assay_id/{{result.object.assay_type}}">{{result.object.assay_type}}</a></td>
              <td> {{result.object.marker}} </td>
              <td> {{result.object.chrom}} </td>
              <td> {{result.object.start}} </td>
              <td> {{result.object.eqtl_type}} </td>
              <td> {{result.object.lodscore}} </td>
              <td> {{result.object.gender}} </td> 
              <td> {{result.object.tissue}} </td>
            </tr>
        {% empty %}
            <p> No results found. </p>
        {% endfor %}
          </tbody>

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{page.next_page_number}}">{% endif %}Next &raquo;{%if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some examples of queries #}
    {% endif %}
</form>
{% endblock %}
