body {
    margin: 0px;
    font-size: 13px;
}
#navigation {
  overflow: auto;
}

#nav li {
    display:inline;
    list-style-type:none;
    float:right;
    padding-right: 10px;
    margin-right:7px;
    !important;

}


#footer {
    position: center;
}

a {
    color: #0080ff;
}
