#app {
    width: 1200px;
    height: 800px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

#addFolder {
  background: #eee;
}

#addFolder > div {
  padding: 10px;
}

#folders, #sequences {
  padding: 0;
  list-style: none;
}

#folders li span.expand {
  display: block;
  padding: 5px 8px;
  border-bottom: 1px solid #ddd;
}

#folders li > span.expand:hover {
  background: #fafafa;
}

#sequences .sequence a {
  display: block;
  padding: 5px 5px 5px 20px;
}

#sequences .sequence a:hover {
  background: #fafafa;
}

#sequences .sequence.selected {
  background: #fff;
}


#addFolder {
    width: 150px;
    overflow: auto;
}

#diagram {
    width: 400px;
}

#edit_seq {
    width: 600px;
    margin: 0;

}

pre {
    margin:0;
    padding:0;
    }

.innerseq {
    height: 500px;
    padding: 0;
    overflow: auto;
}

#line_numbers{
    padding-right: 10px;
}

span.edit_row{
    display: block;
    clear: both;
}

div#highlight{
    font-family: Courier;
}

td#line_numbers{
    font-family: Courier;
}

span.line_nums{
    display: block;
    clear: both;
}

span.highlight{
    background-color: #FFFF66;
}

#addSequenceOverlay {
    width: 400;
}

p.errors{
    color: red;
    }
span.expand {
  cursor: pointer;
}

.ui-menu {
    position: absolute;
    width: 63px;
}

