body {
    background-color: white;
    margin: 0px;
    overflow: hidden;
    color: black;
    font-family: sans-serif;
    font-size: 13px;
}

#navigation {
  overflow: auto;
  background: #ececec;
}

#nav {
  margin: 0;
  padding: 0;
}
#nav li {
    list-style-type:none;
    float:left;
    !important;
}

#nav li a {
    display: block;
    background: #20548E;
    padding: 5px 12px;
    text-decoration: none;
    border-right: 1px solid white;
    width: 70px;
    color: #EAFFED;
    white-space: nowrap
}

#nav li a:hover
	{	background: #1A4473}

#nav li ul
{	margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    border-top: 1px solid white}

#nav li ul li
    {	float: none;
        display: inline}

#nav li ul li a
    {	width: auto;
        background: #9F1B1B}

#nav li ul li a:hover
        {   background: #7F1616}

#footer {
    position: center;
}

a {
    color: #0080ff;
}

button { cursor: pointer; }
