{% extends 'WBBase.html' %}

{% block content %}
<br />
<br />

<h2>Search</h2>
<form method="get" action=".">
    <table>
        {{ form.as_table }}
        <tr>
            <td>&nbsp; </td>
            <td>
                <input type="submit" value="Search">
            </td>
        </tr>
    </table>

    {% if query %}
        <h3>Results</h3>

        {% for result in page.object_list %}
            <p>
                <a href="{{ result.object.get_absolue_url }}">{{result.object.name}}</a>
            </p>

        {% empty %}
            <p> No results found. </p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{page.next_page_number}}">{% endif %}Next &raquo;{%if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some examples of queries #}
    {% endif %}
</form>
{% endblock %}
