{% extends "base.html" %}
{% block header %}
<script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/Three.js"></script>
{% endblock %}

{% block content %}
<div id="test"></div>
<div id="container"></div>
<script type="text/javascript">
    // set scene size
    var WIDTH = 400,
        HEIGHT = 300;
    // set some camera attirbutes
    var VIEW_ANGLE = 45, 
        ASPECT = WIDTH/HEIGHT, 
        NEAR = 0.1,
        FAR = 10000;

    var $container = $('#container');
    var renderer = new THREE.WebGLRenderer();
    var camera = new THREE.Camera(VIEW_ANGLE,
            ASPECT,
            NEAR,
            FAR);
    var scene = new THREE.Scene();
    camera.position.z = 300;
    // start the renderer
    renderer.setSize(WIDTH, HEIGHT);
    $container.append(renderer.domElement);

    var radius = 50, segments = 16, rings = 16;
    var sphere = new THREE.Mesh(
            new THREE.Sphere(radius, segments, rings), 
            SphereMaterial);
    var SphereMaterial = new THREE.MeshLambertMaterial({
        color: 0xCC0000
        });
    console.log(SphereMaterial);
    // create a point light
    var pointLight = new THREE.PointLight( 0xFFFFFF );
    // set its position
    pointLight.position.x = 10;
    pointLight.position.y = 50;
    pointLight.position.z = 130;
    scene.addChild(sphere);
    // add to the scene
    scene.addLight(pointLight);
    console.log(scene);
    renderer.render(scene, camera);


</script>
{% endblock %}

