<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} weblab {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/base.css" media="screen" />
        {% block header %} {% endblock %}
    </head>

<body>
    <div id="navigation">
        <ul id = "nav">
            <li><a href="/">Home </a> </li>
            <li><a href="/hDP/">Test</a></li>
            <li><a href="https://github.com/jeffhsu3">Github</a></li>
            <li><a href="/weblab/">Weblab </a>
        {% if user.is_authenticated %}
            <li><a href="/signout/">Signout </a></li> 
        {% else %}
            <li><a href="/login/">Login</a></li> 
        {% endif %}
    </div>


    <div id="content">
        {% block content %}{% endblock %}
    </div>


    <div id="footer">
    </div>
</body>
</html>
