{% extends "base.html" %}
{% block header %}
<script type="text/javascript"
    src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL}}js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/Three.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/RequestAnimationFrame.js"></script>
<script>
    jQuery(document).ready(function() {
        jQuery("button").button();
        jQuery('#pause').click(function() {
            event.preventDefault();
            document.removeEventListener( 'mousedown', onDocumentMouseDown, false );
            });
        jQuery('#rotate-right').click(function() {
            event.preventDefault();
            theta += 90;
        });
        jQuery('#rotate-left').click(function(){
            event.preventDefault();
            theta -= 90;
        });

        jQuery('#rotate-up').click(function(){
            event.preventDefault();
            phi += 90;
        });
    });
</script>
{% endblock %}

{% block content %}
<div id="container">
    <div id="controls">
        <button id="pause">Pause</button>
        <button id="rotate-right">Rotate Right</button> 
        <button id="rotate-left">Rotate Left</button>
        <button id="rotate-up"> Rotate Up </button>
        <button id="rotate-down"> Rotate Up </button>
        <button id="save"> Save </button>
    </div>
</div>
<script type="text/javascript">
    var camera, scene, renderer;
    var projector, plane, cube;
    var mouse2D, mouse3d, ray, rollOveredFace, isShiftDown = false,
    theta = 45,phi=60,radious=1600,onMouseDownTheta = 45, onMouseDownPhi=60, isCtrlDown = false, isMouseDown = false;
    var rollOverMesh, rollOverMaterial, voxelPosition = new THREE.Vector3(), tmpVec = new THREE.Vector3();
    var cubeGeo, cubeMaterial;
    var i, intersector;

    init();
    animate();

function init(){
    container = document.getElementById( 'container' );
    camera = new THREE.Camera(40, window.innderWidth/window.innerHeight,1,100000);
    // Camera
    camera.position.x = radious * Math.sin(theta * Math.PI/360)
        Math.cos(phi*Math.PI/360);
	camera.position.y = radious * Math.sin( phi * Math.PI / 360 );
	camera.position.z = radious * Math.cos( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
    camera.target.position.y = 200;

    scene = new THREE.Scene();
    // roll-over transparent helpers
    rollOverCube = new THREE.Cube( 50, 50, 50 );
    rollOverMaterial = new THREE.MeshBasicMaterial( { color: 0xff0000,
            opacity: 0.5, transparent: true });
    rollOverMesh = new THREE.Mesh( rollOverCube, rollOverMaterial);
    scene.addObject(rollOverMesh);

    // cubes
    cubeGeo = new THREE.Cube( 50, 50, 50);
    cubeMaterial = new THREE.MeshBasicMaterial( { color: 0x880000,
            shading:THREE.FlatShading})
    // picking
    projector = new THREE.Projector();

    // Grid
    plane = new THREE.Mesh( new THREE.Plane(1000, 1000, 20, 20), new
            THREE.MeshBasicMaterial( { color: 0x555555, wireframe: true } ));
    plane.rotation.x = - 90 * Math.PI /180;
    scene.addObject(plane);
    mouse2D = new THREE.Vector3(0,1000, 0.5);
    ray = new THREE.Ray( camera.position, null);

    // Lights

    var ambientLight = new THREE.AmbientLight(0x606060);
    scene.addLight(ambientLight);
    var directionalLight = new THREE.DirectionalLight(0xffffff);
    directionalLight.position.x = Math.random() - 0.5;
    directionalLight.position.y = Math.random() - 0.5;
    directionalLight.position.z = Math.random() - 0.5;
    directionalLight.position.normalize();
    scene.addLight( directionalLight );
    // Why 2?

    var directionalLight = new THREE.DirectionalLight( 0x808080 );
    directionalLight.position.x = Math.random() - 0.5;
    directionalLight.position.y = Math.random() - 0.5;
    directionalLight.position.z = Math.random() - 0.5;
    directionalLight.position.normalize();
    scene.addLight( directionalLight );

    renderer = new THREE.WebGLRenderer( { antialias: true } );
    renderer.setSize( window.innerWidth, window.innerHeight );

    container.appendChild( renderer.domElement );
    document.addEventListener( 'mousemove', onDocumentMouseMove, false );
    document.addEventListener( 'mousedown', onDocumentMouseDown, false );
    document.addEventListener( 'keydown', onDocumentKeyDown, false );
    document.addEventListener( 'keyup', onDocumentKeyUp, false );
    document.addEventListener( 'mousewheel', onDocumentMouseWheel, false);
}

function getRealIntersector( intersects ){
    for( i = 0; i < intersects.length; i++ ) {
        intersector = intersects[ i ];
        if ( intersector.object != rollOverMesh ) {
            return intersector;
        }
    }

    return null;
}

function setVoxelPosition( intersector ) {
    tmpVec.copy( intersector.face.normal );
    voxelPosition.add( intersector.point, intersector.object.matrixRotationWorld.multiplyVector3( tmpVec ) );
    voxelPosition.x = Math.floor( voxelPosition.x / 50 ) * 50 + 25;
    voxelPosition.y = Math.floor( voxelPosition.y / 50 ) * 50 + 25;
    voxelPosition.z = Math.floor( voxelPosition.z / 50 ) * 50 + 25;

}


function onDocumentMouseMove( event ) {
    event.preventDefault();
    // Need to update when the radious changes
    /*
    if ( isMouseDown ){
        theta = - (( event.clientX - onMouseDownPosition.x) * 0.5) +
            onMouseDownTheta
    }
    */
    mouse2D.x = ( event.clientX / window.innerWidth ) * 2 - 1;
    mouse2D.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
}

function onDocumentMouseDown( event ) {
    event.preventDefault();
    var intersects = ray.intersectScene( scene );
    if ( intersects.length > 0 ) {
        intersector = getRealIntersector( intersects );
        // delete cube
        if ( isCtrlDown ) {
            if ( intersector.object != plane ) {
                scene.removeObject( intersector.object );
            }
        // create cube
        } else {
            intersector = getRealIntersector( intersects );
            setVoxelPosition( intersector );
            var voxel = new THREE.Mesh( cubeGeo, cubeMaterial );
            voxel.position.copy( voxelPosition );
            voxel.matrixAutoUpdate = false;
            voxel.updateMatrix();
            scene.addObject( voxel );
        }

    }
}

function onDocumentMouseUp( event ) {
    event.preventDefault();
    isMouseDown = false;

    

}



function onDocumentKeyDown( event ) {
    switch( event.keyCode ) {
        case 16: isShiftDown = true; break;
        case 17: isCtrlDown = true; break;
    }
}

function onDocumentKeyUp( event ) {
    switch( event.keyCode ) {
        case 16: isShiftDown = false; break;
        case 17: isCtrlDown = false; break;
    }
}

function onDocumentMouseWheel( event ) {
    radious -= event.wheelDeltaY;
    camera.position.x = radious * Math.sin( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
    camera.position.y = radious * Math.sin( phi * Math.PI / 360 );
    camera.position.z = radious * Math.cos( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
    camera.updateMatrix();
    render();
}

function interact() {
}

function animate() {
    requestAnimationFrame( animate );
    render();
}

function render() {
    if ( isShiftDown ) {
        theta += mouse2D.x * 3;
    }
    mouse3D = projector.unprojectVector( mouse2D.clone(), camera );
    ray.direction = mouse3D.subSelf( camera.position ).normalize();
    var intersects = ray.intersectScene( scene );
    if ( intersects.length > 0 ) {
        intersector = getRealIntersector( intersects );
        if ( intersector ) {
            setVoxelPosition( intersector );
            rollOverMesh.position = voxelPosition;
        }
    }
    camera.position.x = radious * Math.sin(theta * Math.PI/360)
        Math.cos(phi*Math.PI/360);
	camera.position.y = radious * Math.sin( phi * Math.PI / 360 );
	camera.position.z = radious * Math.cos( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 );
    renderer.render( scene, camera );

}
</script>
{% endblock %}

