{% extends "base.html" %}
{% block header %}
<script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/Three.js"></script>
{% endblock %}

{% block content %}
<div id="test"></div>
<div id="container"></div>
<script type="text/javascript">
// 3d vars.
var camera;
var scene;
var renderer;
 
// size
var WIDTH 				= 800;
var HEIGHT 				= 600;
 
var circleColours 		= [0x0099CC, 0xCCCCCC, 0x9900CC];
var colourIndexToUse 	= 0;
var fadeAmount 			= 0.0000000005;
 
// used to tell when to draw.
var shouldDraw 			= false;
 
// mouse coordinates.
var mouseX;
var mouseY;
 
setInterval( invalidate, 10 );
 
function init() {
	camera= new THREE.Camera( 75, WIDTH / HEIGHT, 1, 10000 );
	scene= new THREE.Scene();
	renderer= new THREE.CanvasRenderer();
	renderer.setSize( WIDTH, HEIGHT );
 
	camera.position.z= 700;
	document.body.appendChild( renderer.domElement );
}
 
function invalidate()
{
	if(shouldDraw) draw();
	// fade all the current circles.
	fade();
	// render it all.
	renderer.render( scene, camera );
}
 
function draw() {
	 for(var i = 0; i &lt; 5; ++i)
	 {
		 var particle 			= new THREE.Particle( new THREE.ParticleCircleMaterial( circleColours[colourIndexToUse], Math.random() ) );
		 particle.position.x 	= i == 0 ? mouseX - 500 : mouseX - 500 * (Math.random() * 1.5);
		 particle.position.y 	= i == 0 ? mouseY - 500 : mouseY - 500 * (Math.random() * 1.5);
		 particle.position.z 	= mouseX * Math.random();
		 particle.scale.x 		= i == 0 ? particle.scale.y = Math.random() * 50 : particle.scale.y = Math.random() * 5;
	     scene.addObject( particle );
	 }
}
 
/*
 * This fades all the existing objects in the scene.
 */
function fade() {
	for(var i = 0; i &lt; scene.objects.length; ++i)
	{
		var prevAlpha = scene.objects[i].material[0].color.a;
		if(prevAlpha != 0)
		{
			var newMat= new THREE.ParticleCircleMaterial( circleColours[colourIndexToUse], prevAlpha - fadeAmount );
			scene.objects[i].material[0] 	= newMat;
		}
		else scene.removeObject(scene.objects[i]);
	}
}
 
function setMousePosition(x, y)
{
	mouseX 				= x;
	mouseY 				= y;
 
	camera.position.x 	+= (mouseX - camera.position.x) * .045;
	camera.position.y 	+= (-mouseY - camera.position.y) * .045;
}
 
jQuery(document).ready(function() {
	$('canvas').mousemove(function(e) { setMousePosition(e.pageX, e.pageY); } );
	$('canvas').mousedown(function(e) { shouldDraw = true;  } );
	$('canvas').mouseup(function(e)   { shouldDraw = false; } );
});
 
init();
</script>
{% endblock %}

