{% extends "base.html" %}
{% load compress %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/globe.css" />
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/csrf.js"></script>
    <script type="text/javascript">
    var getrsID = function() {
        event.preventDefault();
        var rsID = jQuery("#id_rsID").val();
        if (rsID != ""){
            var message = {rsID:rsID};
            var args = {type:"POST", url:"/hDP/", data:message,dataType:"json", success:done};
            jQuery.ajax(args);
        }
        else {
            alert("Need to input a SNP");
        }
    };
    $(document).ready(function() {
            $('#snpform').hide();
            $('#rsID-show').click(function() {
                event.preventDefault();
                $('#snpform').show('fast');
	            document.removeEventListener( 'mousedown', onDocumentMouseDown, false );
                });
            });
    </script>
{% endblock %}


{% block content %}
<div id="container"></div>
<div id="info">
    <strong>WebGL Globe</strong><br />
    Created by the <em>Google Data Arts Team</em><br />
    Released under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License</a>
</div>
<div id="rsID">
    <p><a href="#" id="rsID-show">Change SNP</a></p>
<form action="/hDP/", method="post", id="snpform">
        {% csrf_token %}
        {{form}}
        <p id="sendwrapper"><input type="submit" value="Send"
        id="sendbutton"/></p>
</form>
<script type="text/javascript">
    $('#snpform').submit(getrsID);
</script>
</div>
<div id="more">
    Minor Allele Frequencies from the Human Diversity Genetics Panel.
</div>
{% compress js %}
<script type="text/javascript">
    var data = {{ data }};
    var texture = "{{STATIC_URL}}textures/world.jpg";

    var done = function(res, status) {
        if (status=="success"){
            var data = res;
            geometry = new Cube( 0.75, 0.75, 1 );
            for ( var i = 0; i < geometry.vertices.length; i ++ ) {
                var vertex = geometry.vertices[ i ];
                vertex.position.z += 0.5;
            }
            point = new THREE.Mesh( geometry ); 
            point.geometry.__dirtyVerticies=true;
            point.geometry.__dirtyNormals=true;
            pointsGeometry = new THREE.Geometry();
            scene.removeObject(points);
            plotData(data);
	        document.addEventListener( 'mousedown', onDocumentMouseDown, false );
            $('#snpform').hide('fast');
            renderer.render();
        }
        else {
            alert("Cookies are required for proper viewing");
        }
    };
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/RequestAnimationFrame.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ThreeWebGL.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ThreeExtras.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}globe.js"></script>
{% endcompress %}

{% endblock %}
