<?xml version="1.0" standalone="no"?>
<DASGFF>
<GFF version="1.0" href="{{url}}">
  <SEGMENT id="{{seg}}">
    {% for qtl in qtls %}
    <FEATURE id="{{qtl.id}}" label="{{qtl.gene}}">
    <TYPE id="qtl">QTL</TYPE>
    <METHOD></METHOD>
    <START> {{qtl.start}} </START>
    <END> {{qtl.end}} </END>
    <ORIENTATION> - </ORIENTATION>
    </FEATURE>
      
    {% endfor %}
  </SEGMENT>
  </GFF>
</DASGFF>
