<?xml version='1.0' standalone="no" ?>
<SOURCES>
    <SOURCE uri="eQTL" title="eQTLs from AKRxDBA">
    <MAINTAINER email="jeffhsu3@gmail.com" />
    <VERSION uri="/eQTL/" created="2012-01-13">
    <COORDINATES uri="http://www.dasregistry.org/dasregistry/coordsys/CS_DS108"
                source="Chromosome"
                authority="NCBIM37"
                taxid="10090"
                version="37"
                test_range="" >NCBIM_37,Chromosome,\
                Mus musculus</COORDINATES>
    <CAPABILITY type="das1:sources" query_uri="eQTL/features" />
    </VERSION>
    </SOURCE>
</SOURCES>
