<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
      <meta charset="utf-8">
      <title>{% block title %} eQTL {% endblock %}</title>
      <link rel="stylsheet" type="text/css" 
      href="{{STATIC_URL}}styles/eQTL.css" media="screen" />
    <script type="text/javascript"
    src="{{ STATIC_URL }}js/jquery.min.js"></script>
      {% block header %} {% endblock %}
    </head>


<body>
  <h1> eQTLs </h1>
  <div id="nav"></div>
  {% block content %}  
  {% endblock %}
</body>


</html>
