body {
    background-color: #101010;
    margin: 0px;
    overflow: hidden;

    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
}

#nav li {
    display:inline;
    list-style-type:none;
    float:right;
    padding-right: 10px;
    margin-right:7px;
    !important;

}


#footer {
    position: center;
}

a {
    color: #0080ff;
}
