#info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 300px;
    padding: 40px;
}

#more {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 300px;
    padding: 40px;
}

#rsID {
    position: absolute;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 300px;
    padding: 40px;
}

#rsID-show {
    font-size: 1.5em;
}

#rsID-show:hover {
    background-color: darkgrey;

}
