{% extends "WBBase.html" %}
{% load i18n %}

{% block header %}
<link rel="stylesheet" type='text/css' href="{{STATIC_URL}}styles/bootstrap.min.css" 
media="screen" />
<link rel="stylesheet" type='text/css' 
href="{{STATIC_URL}}styles/bootstrap-responsive.min.css" media="screen" />

<style>
    .container{
    }
</style>

{% endblock %}

{% block content %}
<br />
<br />

<div class="container">
{% if form.errors %}
{{ form.errors }}
{% endif %}


<form method = "post" action=".">
    <h2 class="form-signin-heading">{% trans "Please sign in" %}</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <label class="checkbox">
        <input type="checkbox" value="remember-me">
        Remember me
    </label>
    <button class="btn btn-large btn-primary" type=submit>{% trans 'Log in' %}</button>
    <input type = "hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Forgot password" %}? <a href="{% url "auth_password_reset" %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url "registration_register" %}">{% trans "Register" %}</a>!</p>
</div>
{% endblock %}
