{% extends "WBBase.html" %}
{% load i18n %}

{% block title %} Signup {% endblock %}

{% block content %}
<br />
<br />

<form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type ="submit" value="{% trans 'Submit' %}" />
</form>

{% endblock %}


