{% extends "WBBase.html" %}
{% load i18n %}

{% block content %}
<br />
<br />
<h1><u>Jeff Hsu </u></h1>
<h2>Chief Mad Scientist</h2> 
<p>  Jeff Hsu is a PhD candidate in the Molecular Medicine program at the Cleveland Clinic Lerner College of 
Medicine at Case Western Reserve University.  During his work on whole genome studies,
he has come to the realization for the need for a more scalable experimental process.
His current research is in identifying modifier genes that affect athersclerosis and the genetics of atrial fibrillation.  Python is his only true love, though he works mainly in R.  Javascript is cool too, he supposes. </p>

<h1><u> Joe Hsu </u></h1>
<h2></h2>
{% endblock %}
