{% extends "WBBase.html" %}
{% load compress %}
{% block header %}
<link rel="stylesheet"
href="{{STATIC_URL}}styles/smoothness/jquery-ui-1.8.14.custom.css" media="all" />
<script type="text/javascript" src="{{STATIC_URL}}js/csrf.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/js/jquery-ui.custom.min.js"></script>
<script>
    jQuery(function() {
    var selected_samples = new Array();
    var added_samples = new Array();

    function log(message) {
        jQuery("<div/>").text(message).prependTo("#log");
        jQuery("#log").attr("scrollTop", 0);
    }

    function addSelectable(elements) {
        jQuery("ol").append(elements);
        jQuery("#selectable").selectable();
    }
    
    jQuery('#id_samples').autocomplete({
        source: function( request, response) {
            jQuery.ajax({
                type: 'GET',
                url: '/weblab/sample_request',
                dataType: "json",
                data: {
                    featureClass: "P",
                    maxRows: 12,
                    term: request.term
                },
                success: function(data, status ) {
                    var temp_key = 0;
                    response($.map(data, function(item){
                    addSelectable("<li>"+item[0]+ "</li>");
                    selected_samples[temp_key] = item[1];
                    temp_key = temp_key + 1;

                        

                        return {
                        label: item[0],
                        value: item[1], 
                        }
                    
                    }));
                }
            });
        },
        minLength: 2,
        select: function( event, ui) {
            log( ui.item ? 
                ui.item.label :
                "Nothing selected, input was " + this.value );
            jQuery('id_sample_pk').attr('value', ui.item.label); 
            added_samples[ui.item.label] = ui.item.value;
            jQuery("#selectable").empty();
            console.log(added_samples);
            },
        open: function() {
            $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
            $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );

        }

    });
    jQuery("#selectable").selectable({
        selected: function(event, ui){
        }
    });
    jQuery("#add").click(function() {
        jQuery(".ui-selected").each(function() {
        var index = jQuery("#selectable li").index(this);
        log(this.innerHTML);
        console.log(selected_samples);
        added_samples[this.innerHTML] = selected_samples[index];
        }); 
        console.log(added_samples);   
        jQuery("#selectable").empty();
    });
});

</script>
<style>
    #feedback { font-size: 1.4em; }
    #selectable .ui-selecting { background: #FECA40; }
    #selectable .ui-selected { background: #F39814; color: white; }
    #selectable { list-style-type: none; margin: 0; padding: 0; width: 30%; }
    #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height:
        18px;}
</style>

{% endblock %}

{% block content %}
<br />
<br />
<h1> Create an experiment </h1>
<form action="", method = "POST">
    {% csrf_token %}
    {% for field in form %}
        <div class="ui-widget">
            {{ field.errors }}
            {{ field.label_tag }} : {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="submit" />
</form>

<ol  id="selectable">
</ol>
<button id="add">Add</button>
    <div class="ui-widget">
        Selected Samples:<div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>
    </div>
{% endblock %}
