{% load compress %}
{% extends "base.html" %}

{% block header %}

{% endblock %}

{% block content %}
<h1>Scatter Brained </h1>
<h2> Genetics, Robotics, Stemcells, Buzzword, Buzzword   </h2>
<p> Welcome to my personal website.  </p>
<p> Check out Google web-gl <a href="hDP/">globe</a> adapted to serve genetic infromation from the
<a href="http://www.cephb.fr/en/hgdp/diversity.php/">Human Genome Diversity
    Panel</a> using Django as a backend</p>

<p> Also check out this amazing <a href="genome/">genome browser</a> written entirely in javascript
<a href="http://bioinformatics.oxfordjournals.org/content/27/6/889.short">Thomas Down.</a> </p>




{% endblock %}



