{% extends "WBBase.html" %}
{% load url from future %}

{% block title %}
    Login
{% endblock %}

{% block content %}

<p>Hello</p>
{% if form.errors %}

// :TODO differentiate between username error and password erro
<p> Your username and password didn't match.  Please try again. </p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

<table>
<tr>
    <td>{{form.username.label_tag }}</td>
    <td>{{form.username}}</td>
</tr>
<tr>
    <td>{{form.password.label_tag }}</td>
    <td>{{form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{next}}" />
</form>

{% endblock %}
