{% extends "WBBase.html" %}
{% load verbatim %}
{% load compress %}


{% block title %} Samples {% endblock %}

{% block header %} 

{% compress js %}
  <script type="text/javascript" 
    src="{{STATIC_URL}}js/js/jquery-ui.custom.min.js"></script>
  <script type="text/javascript"
    src="{{STATIC_URL}}js/underscore-min.js"></script> 
  <script src="{{STATIC_URL}}js/backbone-min.js"></script>
  <script src="{{STATIC_URL}}js/backbone-tastypie.js"></script>
  <script type="text/javascript"
    src="{{STATIC_URL}}js/ICanHaz.min.js"></script>

  <script 
    src="{{STATIC_URL}}js/weblab/samples.js"></script>
  <script
    src="{{STATIC_URL}}js/weblab/sampleViews.js"></script>
{% endcompress %}

{% verbatim %}
<script type="text/html" id="sample_template">
    <tr>
    <td><a class="sample_name" href="#"> {{name}} </a></td>
    <td> {{ description }} </td>
    </tr>
</script>
{% endverbatim %}
  
  <link rel="stylesheet"
href="{{STATIC_URL}}styles/tablesorter/blue/style.css" media="all" />
  <script type="text/javascript" src="{{STATIC_URL}}/js/jquery.tablesorter.js"></script>

<script>
    jQuery(document).ready(function() {
        $("#sampletable").tablesorter();
        });
</script>


{% endblock %}

{% block content %}
<br />
<br />
<h1> Samples </h1>

<div id="app">
</div>

<table id="sampletable" class="tablesorter">
    <thead>
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Description</th>
        <th>Storage</th>
    </tr>
    </thead>
    <tbody>
    {% for sample in samples %}
    <tr>
        <td>{{ sample.created }}</td>
        <td>{{sample.name}}</td>
        <td><a href="/weblab/samples/{{sample.id}}">{{ sample.description }}</a></td>
        <td>{{ sample.storage}} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<a href="/addSample">Add sample</a>

<script> 
SEQUENCE_API="{% url api_dispatch_list resource_name='sample' api_name='v1'%}";
var sample_collection = new SampleCollection();
var samples_view = new SampleApp({el: $("#app"), collection :
    sample_collection});
sample_collection.fetch();
</script>
{% endblock %}
