{% extends "WBBase.html" %}
{% load verbatim %}
{% load compress %}

{% block title %} Sequences {% endblock %}
{% block header %}
<link rel="stylesheet"
href="{{STATIC_URL}}styles/redmond/jquery-ui-1.8.16.custom.css" media="all" />
<link rel="stylesheet"
href="{{STATIC_URL}}styles/sequences.css" media="all" />
  
  {% compress js %}
  <script type="text/javascript" 
    src="{{STATIC_URL}}js/js/jquery-ui.custom.min.js"></script>
  <script type="text/javascript"
    src="{{STATIC_URL}}js/underscore-min.js"></script> 
  <script type="text/javascript"
    src="{{STATIC_URL}}js/ICanHaz.min.js"></script>
  <script src="{{STATIC_URL}}js/backbone-min.js"></script>
  <script src="{{STATIC_URL}}js/backbone-tastypie.js"></script>
  <script src="{{STATIC_URL}}js/backbone-relational.js"></script>
  <script src="{{STATIC_URL}}js/weblab/lrecurse.js"></script>
  <script 
    src="{{STATIC_URL}}js/weblab/sequence.js"></script>
  <script
    src="{{STATIC_URL}}js/weblab/sequenceView.js"></script>
  <script
    src="{{STATIC_URL}}js/weblab/sequenceFoldersViews.js"></script>
  {% endcompress %} 
  
  {% verbatim %}
  <script type="text/html" id="sequenceTemplate">
    <a class="seqname" href="#">{{name}}</a>
  </script>
  
  <script type="text/html" id="folderTemplate">
    <span class="expand">{{name}}</span>
    <ul id="sequences"> </ul>
  </script>
  
  <script type="text/html" id="editLines">
    <span class = 'edit_row' id={{row}}>{{seq}}</span>
  </script>
  
  <script type="text/html" id="editNums">
    <span class = 'line_nums'>{{nums}}</span>
  </script>
  
  <script type="text/html" id="editAppTemplate"> 

    <div id = "edit_options" >
      <button class="toggle_feature_menu">Features &rsaquo;&rsaquo;</button>
      <ul id="feature_menu">
          <li><button class="menu" id="feature_add">Add</button></li>
          <li><button class="menu" id="feature_edit">Edit</button></li>
          <li><button class="menu" id="feature_delete">Delete</button></li>
          <li><button class="menu" is="feature_find">Find</button></li>
      </ul>
      <button class="delete_sequence">Delete </button>
      <button class="edit_sequnce">Edit </button>
      <br />
      <label><textarea id="seqSearch"></textarea>
          <button class="search_sequence"> Search </button></label>
    </div>
    <h3 id = "current_edit"></h3>

  
    <div class="innerseq">
    <table cellpadding="0" cellspacing="0" class ="edit_tables">
      <tbody>
        <tr>
          <td id="line_numbers">
          </td>
          <td width="100%">
            <div id="highlight">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <p id = "s_info"></p>
  
  </script>
  
  {% endverbatim %}

  <script>
  SEQUENCE_API="{% url api_dispatch_list resource_name="sequence" api_name="v1" %}";
  </script>
  <script>

$(function(){
  $("#confirmOverlay").hide();
  $("#addFolderOverlay").hide();
  $("#addSequenceOverlay").hide();
  $("#addfeatureOverlay").hide();
  $("#editSequenceOverlay").hide();
  
  window.currentEditing;
  var folder_collection = new SeqFolderCollection(); 
  window.folds_view = new SeqFoldersView({ el: $("#app"), collection: folder_collection});
  folder_collection.fetch();
});

</script>

{% endblock %}

{% block content %}
<div id="app">
   
  <div id ="addFolder">
    <div>
      <h2> Folders </h2>
      <button class="addfold"> Add Folder </button>
      <button class="addSeq"> Add Sequence </button>
    </div>
    <ul id="folders">
    </ul>
  </div>
  
  <div id = "diagram">
    <svg id="svgdiag"
    version="1.1"
    baseProfile = "full"
    xmlns="http://www.w3.org/2000/svg">
    </svg>
  </div>
  
</div>



<div id = "confirmOverlay">
  <div id="confirmBox"> 
    <p>You are about to delete a sequence.  Confirm?</p>
  </div>
</div>
<div id="addFolderOverlay">
  <div id="addFolderBox">
    <label>Folder Name<textarea id="fold_name"></textarea></label>
  </div>
</div>

<div id="addfeatureOverlay">
  <label> Name <text area id="feature_name"></textarea></label>
  <label> Feature <select id = "addFeatureType"></select></label>
  <button id="newFeature">New Feature</button> <br />
  <label> Start <textarea id="feature_start"></textarea></label> <br />
  <label> End <textarea id="feature_end"></textarea></label>
  <label> Orientation <select id = "f_orientation">
      <option value = "0">+</option>
      <option value = "1">-</option>
      <option value = "2">None</option>
  </select></label>
</div>

<div id="addSequenceOverlay">
    <label>Name<textarea id="seq_name"></textarea></label> <br />
    <label>Sequence<textarea id="new_sequence"></textarea></label> <br />
    <p id='seq_errors' class='errors'></p>
    <label>Keywords<textarea id="seq_key")></textarea></label><br />
    <label>Description<textarea id="seq_desc"></textarea></label><br />
    <label>Folder</label>
        <select id="addSeqFoldField">
        </select>
    <label>Type
      <select id="seqType">
        <option value="D"> DNA </option>
        <option value="P"> Protein </option>
      </select>
    </label>
</div>

<div id="editSequenceOverlay">
  <label>Edit Sequence <textarea id="edit_seq_text"></textarea></label>
</div>
{% endblock %}
