<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} WebLab {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles/WBBase.css" media="screen" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/nav.js"></script>
        {% block header %} {% endblock %}
    </head>

<body>
    <!-- Todo switch to Twitter Bootstrap -->
    <div id="navigation">
        <ul id = "nav">
            <li><a href="/">Home </a> </li>
            <li><a href="/weblab/">Weblab </a>
                <ul>
                    <li><a href="/weblab/samples/">Samples</a></li>
                    <li><a href="/weblab/search/">Search</a>
                    <li><a href="/weblab/sequence/">Sequences</a></li>
                    <li><a href="/weblab/experiment/">Experiment</a></li>
                    <li><a href="/weblab/reagents/">Reagents</a></li>
                    <li><a href="/weblab/labs/">Manage Labs </a></li>
                    <li><a href="/weblab/colony/">Colony Managment </a></li>
                </ul>
            </li>
            <li><a href="#">About Us</a>
                <ul>
                    <li><a href="/weblab/about/">About Us</a></li>
                    <li><a href="/weblab/jobs/">Jobs</a></li>
                    <li><a href="/weblab/clients/">Clients</a></li>
                    <li><a href="/weblab/developers/">Developers</a></li>
                    <li><a href="/shoebox/">Blog</a></li>
                </ul>
            </li>
        {% if user.is_authenticated %}
            <li><a href="/weblab/accounts/logout/">Signout </a></li> 
        {% else %}
            <li><a href="/weblab/accounts/login/">Login</a></li> 
            <li><a href="/weblab/accounts/register/">Signup </a></li>
        {% endif %}
        </ul>
    </div>


    <div id="content">
        {% block content %}
        {% endblock %}
    </div>


    <div id="footer">
    </div>
</body>
</html>
