{% extends "WBBase.html" %}
{% load compress %}
{% block header %}
        <link rel="stylesheet" type='text/css' href="{{STATIC_URL}}styles/bootstrap.min.css" media="screen" />
        <link rel="stylesheet" type='text/css' href="{{STATIC_URL}}styles/bootstrap-responsive.min.css" media="screen" />
        <style>
            .container{

            }
            .carousel {
                margin-bottom: 60px;
            }

            .carousel .container {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
            }

            .carousel-control {
                background-color: transparent;
                border: 0;
                font-size: 120px;
                margin-top: 0;
                text-shadow: 0 1px 1px rgba(0,0,0,.4);
            }

            .carousel .item {
                height: 500px;
            }

            .carousel .img {
                min-width: 60%;
                height: 500px;
            }

            .carousel-caption {
                background-color: transparent;
                position: static;
                max-width: 550px;
                padding: 0 20px;
                margin-bottom: 100px;
            }
        </style>
{% endblock %}

{% block content %}

<div class="container">
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="active item">
            <img src="{{STATIC_URL}}images/test.jpg" alt>
            <div class="container">
                <div class="carousel-caption">
                    <h1> Manage Sequences </h1>
                    <p class="lead">
                    Manage your DNA, RNA and proteins sequences.  Manage orders
                    </p>
                    <a class="btn btn-large btn_primary" href="#">Learn more</a>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="{{STATIC_URL}}images/test.jpg" alt>
            <div class="container">
                <div class="carousel-caption">
                    <h1> Manage Samples </h1> 
                    <p class="lead">
                    Manage biological samples and make easy for keeping track
                    </p>
                </div>
            </div>
        </div>
        
        <div class="item">
            <img src="{{STATIC_URL}}images/test.jpg" alt>
            <div class="container">
                <div class="carousel-caption">
                    <h1> Mobile Applications</h1> 
                    <p class="lead">
                    Manage biological samples and make easy for keeping track
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<img src="{{STATIC_URL}}images/logo.png" />
<a href="/weblab/sequence/"><img src="{{STATIC_URL}}images/sequences.png" /></a>
<p>
Weblab is a web-based social laboratory management system essential for
increasing productivity and reproducibility. Our cloud based software allows
for the quick sharing of applications and data in a portable format that alllows for easy and real-time reporting to collaboraters world-wide.     

</p>
<p>
If you are vendor and would like your supplies listed we have an easy to use
API that let's you list items and prices.   
</p>
Check this space soon!

</p>
</div>

{% compress js %}
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script>
        $('.carousel').carousel();

    </script>
{% endcompress %}
{% endblock %}



