<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        {% block header %} {% endblock %}
    </head>

<body>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>


    <div id="footer">
    </div>
</body>
</html>
